OPENAI_API_KEY=
ROBOT_SERVICE__HOST=
CONF_API_BASE_URL=

LIVEKIT_API_KEY=devkey  #for development only
LIVEKIT_API_SECRET=secret   #for development only
LIVEKIT_URL=ws://localhost:7880 #for development only